<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>band</key>
		<string>Sigur Rós</string>
		<key>endTime</key>
		<date>2012-08-30T23:00:00Z</date>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08-31T21:30:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/sigurrs</string>
	</dict>
	<dict>
		<key>band</key>
		<string>A Plastic Rose</string>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/aplasticrose</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/askillz</string>
		<key>band</key>
		<string>A-Skillz</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/alabamashakes</string>
		<key>band</key>
		<string>Alabama Shakes</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/amineedge</string>
		<key>band</key>
		<string>Amine Edge</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/arveenemiskpresentsacidfuture</string>
		<key>band</key>
		<string>Arveene and Misk Presents 'Acid Future'</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/azealiabanks1</string>
		<key>band</key>
		<string>Azealia Banks</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/bassnectar</string>
		<key>band</key>
		<string>Bassnectar</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/batforlashes</string>
		<key>band</key>
		<string>Bat for Lashes</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/bats</string>
		<key>band</key>
		<string>Bats</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/baxterdury</string>
		<key>band</key>
		<string>Baxter Dury</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/bellx1</string>
		<key>band</key>
		<string>Bell X1</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/bellowhead</string>
		<key>band</key>
		<string>Bellowhead</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/benhoward</string>
		<key>band</key>
		<string>Ben Howard</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/bigdishgo</string>
		<key>band</key>
		<string>Big Dish Go</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/bombaybicycleclub</string>
		<key>band</key>
		<string>Bombay Bicycle Club</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/caribouvsfourtetb2bdjset</string>
		<key>band</key>
		<string>Caribou vs. Four Tet (B2B Dj Set)</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/cashierno9</string>
		<key>band</key>
		<string>Cashier No 9</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/cathydavey</string>
		<key>band</key>
		<string>Cathy Davey</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/catzndogz</string>
		<key>band</key>
		<string>Catz N' Dogz</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/christymoore</string>
		<key>band</key>
		<string>Christy Moore</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/cloudcastlelake</string>
		<key>band</key>
		<string>Cloud Castle Lake</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/coldspecks</string>
		<key>band</key>
		<string>Cold Specks</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/cranes</string>
		<key>band</key>
		<string>Cranes</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/crazypdjset</string>
		<key>band</key>
		<string>Crazy P (DJ Set)</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/crystalcastles</string>
		<key>band</key>
		<string>Crystal Castles</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/daithi</string>
		<key>band</key>
		<string>Daithi</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/dakota661</string>
		<key>band</key>
		<string>Dakota 66</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/darshanjesranimetroarea</string>
		<key>band</key>
		<string>Darshan Jesrani (Metro Area)</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/davidkittplaysthebigromance</string>
		<key>band</key>
		<string>David Kitt plays The Big Romance</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/delorentos</string>
		<key>band</key>
		<string>Delorentos</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/dexys</string>
		<key>band</key>
		<string>Dexys</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/discotekken</string>
		<key>band</key>
		<string>Discotekken</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/djwld</string>
		<key>band</key>
		<string>DJ W!LD</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/donallunnyandyirvineliamoflynnandpaddyglackin</string>
		<key>band</key>
		<string>Donal Lunny, Andy Irvine, Liam O Flynn, and Paddy Glackin</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/drytheriver</string>
		<key>band</key>
		<string>Dry The River</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/dublingospelchoir1</string>
		<key>band</key>
		<string>Dublin Gospel Choir</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/eagleandtheworm</string>
		<key>band</key>
		<string>Eagle and the Worm</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/edsheeran</string>
		<key>band</key>
		<string>Ed Sheeran</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/elbow</string>
		<key>band</key>
		<string>Elbow</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/enemies</string>
		<key>band</key>
		<string>Enemies</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/explosionsinthesky</string>
		<key>band</key>
		<string>Explosions In The Sky</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/fatoumatadiawara</string>
		<key>band</key>
		<string>Fatoumata Diawara</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/forrests</string>
		<key>band</key>
		<string>Forrests</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/franoisk</string>
		<key>band</key>
		<string>Fran&#xE7;ois K</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/garethdunlop</string>
		<key>band</key>
		<string>Gareth Dunlop</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/gavinfriday1</string>
		<key>band</key>
		<string>Gavin Friday</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/glenhansard</string>
		<key>band</key>
		<string>Glen Hansard</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/godisanastronaut</string>
		<key>band</key>
		<string>God Is An Astronaut</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/grandaddy</string>
		<key>band</key>
		<string>Grandaddy</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/grimes</string>
		<key>band</key>
		<string>Grimes</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/grizzlybear</string>
		<key>band</key>
		<string>Grizzly Bear</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/hamsandwich</string>
		<key>band</key>
		<string>Ham Sandwich</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/heathers</string>
		<key>band</key>
		<string>Heathers</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/hotchip</string>
		<key>band</key>
		<string>Hot Chip</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/hudsonmohawke</string>
		<key>band</key>
		<string>Hudson Mohawke</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/intuanua</string>
		<key>band</key>
		<string>In Tua Nua</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/jamesmurphydjset</string>
		<key>band</key>
		<string>James Murphy (DJ Set)</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/jeffreylewis</string>
		<key>band</key>
		<string>Jeffrey Lewis</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/johntalabotdjset</string>
		<key>band</key>
		<string>John Talabot (DJ Set)</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/jonathanwilson</string>
		<key>band</key>
		<string>Jonathan Wilson</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/juniorboys</string>
		<key>band</key>
		<string>Junior Boys</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/katiekim</string>
		<key>band</key>
		<string>Katie Kim</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/kidkarate1</string>
		<key>band</key>
		<string>Kid Karate</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/kimbra1</string>
		<key>band</key>
		<string>Kimbra</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/kormacsbigband</string>
		<key>band</key>
		<string>Kormac&#x2019;s Big Band</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/landlovers</string>
		<key>band</key>
		<string>Land Lovers</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/lanternsonthelake</string>
		<key>band</key>
		<string>Lanterns On The Lake</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/legalaxie</string>
		<key>band</key>
		<string>Le Galaxie</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/leescratchperrymaxromeo</string>
		<key>band</key>
		<string>Lee &#x2018;Scratch&#x2019; Perry and Max Romeo</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/liannelahavas</string>
		<key>band</key>
		<string>Lianne La Havas</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/littleroy</string>
		<key>band</key>
		<string>Little Roy</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/marklanegan</string>
		<key>band</key>
		<string>Mark Lanegan</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/metronomy</string>
		<key>band</key>
		<string>Metronomy</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/michaelkiwanuka</string>
		<key>band</key>
		<string>Michael Kiwanuka</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/mickflannery</string>
		<key>band</key>
		<string>Mick Flannery</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/milagres</string>
		<key>band</key>
		<string>Milagres</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/mmoths</string>
		<key>band</key>
		<string>Mmoths</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/moscowmetro</string>
		<key>band</key>
		<string>Moscow Metro</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/nellbryden</string>
		<key>band</key>
		<string>Nell Bryden</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/notsquares</string>
		<key>band</key>
		<string>Not Squares</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/ofmonstersandmen</string>
		<key>band</key>
		<string>Of Monsters and Men</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/optimo</string>
		<key>band</key>
		<string>Optimo</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/orbital</string>
		<key>band</key>
		<string>Orbital</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/orquesta</string>
		<key>band</key>
		<string>Orquesta</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/patmahoney</string>
		<key>band</key>
		<string>Pat Mahoney</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/patrickwatson12</string>
		<key>band</key>
		<string>Patrick Watson</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/pattismith</string>
		<key>band</key>
		<string>Patti Smith</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/paulbuchanan</string>
		<key>band</key>
		<string>Paul Buchanan</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/perfumegenius</string>
		<key>band</key>
		<string>Perfume Genius</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/prinsthomas</string>
		<key>band</key>
		<string>Prins Thomas</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/rainyboysleep</string>
		<key>band</key>
		<string>Rainy Boy Sleep</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/richardhawley</string>
		<key>band</key>
		<string>Richard Hawley</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/richiehawtin</string>
		<key>band</key>
		<string>Richie Hawtin</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/rootsmanuva</string>
		<key>band</key>
		<string>Roots Manuva</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/rustie</string>
		<key>band</key>
		<string>Rustie</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/sbtrkt</string>
		<key>band</key>
		<string>SBTRKT</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/ships</string>
		<key>band</key>
		<string>Ships</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/sigurrs</string>
		<key>band</key>
		<string>Sigur R&#xF3;s</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/solarbears</string>
		<key>band</key>
		<string>Solar Bears</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/spacedimensioncontroller</string>
		<key>band</key>
		<string>Space Dimension Controller</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/squarehead</string>
		<key>band</key>
		<string>Squarehead</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/squarepusher</string>
		<key>band</key>
		<string>Squarepusher</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/staffbendabilili1</string>
		<key>band</key>
		<string>Staff Benda Bilili</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/stevenmanning</string>
		<key>band</key>
		<string>Steven Manning</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/subaltern</string>
		<key>band</key>
		<string>Subaltern</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/the2bears1</string>
		<key>band</key>
		<string>The 2 Bears</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/theantlers</string>
		<key>band</key>
		<string>The Antlers</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thecastofcheers1</string>
		<key>band</key>
		<string>The Cast of Cheers</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thecure</string>
		<key>band</key>
		<string>The Cure</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thefatladysings</string>
		<key>band</key>
		<string>The Fat Lady Sings</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thehorrors</string>
		<key>band</key>
		<string>The Horrors</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thejezabels12</string>
		<key>band</key>
		<string>The Jezabels</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thejuanmaclean</string>
		<key>band</key>
		<string>The Juan Maclean</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thekanyutree1</string>
		<key>band</key>
		<string>The Kanyu Tree</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thekillers</string>
		<key>band</key>
		<string>The Killers</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/themaccabees</string>
		<key>band</key>
		<string>The Maccabees</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/therevenge</string>
		<key>band</key>
		<string>The Revenge</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/theriptidemovement</string>
		<key>band</key>
		<string>The Riptide Movement</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/theroots</string>
		<key>band</key>
		<string>The Roots</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thestaves</string>
		<key>band</key>
		<string>The Staves</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thevaccines1</string>
		<key>band</key>
		<string>The Vaccines</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thewondervillians</string>
		<key>band</key>
		<string>The Wonder Villians</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/thexx</string>
		<key>band</key>
		<string>The xx</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/tieranniesaur</string>
		<key>band</key>
		<string>Tieranniesaur</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/tindersticks</string>
		<key>band</key>
		<string>Tindersticks</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/toddterje</string>
		<key>band</key>
		<string>Todd Terje</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/totallyenormousextinctdinosaurs</string>
		<key>band</key>
		<string>Totally Enormous Extinct Dinosaurs</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/trinityorchestra</string>
		<key>band</key>
		<string>Trinity Orchestra</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/tuki1</string>
		<key>band</key>
		<string>Tu-Ki</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/turn</string>
		<key>band</key>
		<string>Turn</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/vandykeparks</string>
		<key>band</key>
		<string>Van Dyke Parks</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/villagers</string>
		<key>band</key>
		<string>Villagers</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/wallisbird</string>
		<key>band</key>
		<string>Wallis Bird</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/whitecollarboy</string>
		<key>band</key>
		<string>White Collar Boy</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/wildbeasts</string>
		<key>band</key>
		<string>Wild Beasts</string>
	</dict>
	<dict>
		<key>isFavourite</key>
		<integer>0</integer>
		<key>stage</key>
		<string>Main Stage</string>
		<key>startTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>endTime</key>
		<date>2012-08031T21:00:00Z</date>
		<key>url</key>
		<string>http://electricpicnic.ie/willisearlbeal</string>
		<key>band</key>
		<string>Willis Earl Beal</string>
	</dict>
</array>
</plist>
